.navbar {
	font-size: 2rem;
	text-transform: capitalize;
	color: #444;

	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 2rem 10%;
	background: #fff;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	z-index: 100;
}

.navbar .logo {
	height: 8rem;
	width: 100%;
	margin-right: auto;
	font-size: 2.5rem;
	font-weight: bold;
	color: #0eb582;
	display: flex;
}
.navbar .logo img {
	height: 100%;
	object-fit: cover;
}

.navbar ul {
	display: flex;
	list-style: none;
	gap: 4rem;
	cursor: pointer;
	position: relative;
	transition: all 0.2s linear;
}

.navbar ul li:hover {
	color: #0eb582;
}

#menu-btn {
	display: none;
	cursor: pointer;
	font-size: 4rem;
	color: #444;
}

.navbar ul #close-navbar {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	font-size: 4rem;
	cursor: pointer;
	color: #444;
	display: none;
}
.navbar ul #close-navbar:hover {
	transform: rotate(90deg);
	color: #0eb582;
}

@media (max-width: 991px) {
	#menu-btn {
		display: inline-block;
	}

	.navbar ul {
		position: fixed;
		top: 0;
		right: -105%;
		width: 30rem;
		background: #fff;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		z-index: 1200;
	}

	.navbar ul #close-navbar {
		display: block;
	}

	.navbar ul.active {
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
		right: 0;
	}

	.navbar ul li {
		display: block;
		margin: 1rem 0;
		text-align: center;
		font-size: 3rem;
	}
}
