.NewCoursesSection .NewCourses {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
	gap: 2rem;
	place-items: center;
	align-content: center;
	align-items: start;
	justify-items: stretch;
}

.NewCoursesSection .heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 3rem 0;
}

.NewCoursesSection .heading h1 {
	color: #0eb582;
	font-size: 4rem;
}
