* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	/* transition: all 0.2s linear; */
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

section {
	padding: 5rem 10%;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	border: 0.1rem solid #0eb582;
	background: #f0fdfa;
	color: #0eb582;
	text-transform: capitalize;
	cursor: pointer;
}

.btn:hover {
	background: #0eb582;
	color: #fff;
}

/* Media queries */
@media (max-width: 1200px) {
	section {
		padding: 3rem 5%;
	}

	.header {
		padding: 2rem 5%;
	}
}

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	section {
		padding: 5rem 2rem;
	}

	.header {
		padding: 2rem;
	}
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
}
